
/* ============================= */
/* VARIÁVEIS BASE (CLARO) */
/* ============================= */
:root {

    --cor-fundo: #f8fafc;
    --cor-fundo-sidebar: #ffffff;
    --cor-fundo-card: #ffffff;
    --cor-fundo-secundario: #e4e7ec;

    --cor-texto-principal: #000000;
    --cor-texto-secundario: #5f5f5f;

    --cor-fundo-input: #1E293B;
    --cor-texto-input: #F1F5F9;
    --cor-borda-input: #334155;

    --cor-fundo-botao: #3B82F6;
    --cor-fundo-botao-hover: #2563eb;
    --cor-texto-botao: #ffffff;

    --cor-logout: #fd0b0b83;
    --cor-logout-hover: #f3757593;

    --cor-tabela: #1E293B;
    --cor-principal-tabela: #273a58;

    --cor-borda: #334155;

    --raio-padrao: 6px;

    --sombra-card: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* ============================= */
/* DARK MODE (SÓ VARIÁVEIS) */
/* ============================= */
body.dark {

    --cor-fundo: #0f172a;
    --cor-fundo-sidebar: #1e293b;
    --cor-fundo-card: #1e293b;
    --cor-fundo-secundario: #334155;

    --cor-texto-principal: #f8fafc;
    --cor-texto-secundario: #cbd5e1;

    --cor-fundo-input: #0f172a;
    --cor-texto-input: #f8fafc;
    --cor-borda-input: #475569;

    --cor-fundo-botao: #3b82f6;
    --cor-fundo-botao-hover: #2563eb;

    --cor-logout: #991b1b;
    --cor-logout-hover: #b91c1c;

    --sombra-card: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
}

/* ============================= */
/* BASE GLOBAL */
/* ============================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    padding: 10px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

