body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    flex-direction: column;
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    background-color: var(--background-color);
}

.login {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
}

.div-form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
}

.label-group {
    width: 300px;
    color: var(--cor-texto-cabecalho);
    margin-bottom: 5px;
    padding: 10px;
}

.input-group {
    border-radius: 10px;
    padding: 8px;
    width: 300px;
}

 .btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100px;
    background-color: var(--cor-fundo-botao); 
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}
/* arrumar esse botao conforme a nececidade especifica dele */