*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #1f2937;
    padding:20px;
}

.sidebar-content {
    box-sizing: border-box;
    min-width: 200px;
    flex: 1;
}

.sidebar-footer {
    text-align: center;
}

.sidebar-nav {
    list-style: none;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li {
    margin-bottom: 30px;
    text-decoration: none;
}

.sidebar-nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(218, 206, 206);
}

.main-content {
    padding: 20px;
    flex: 1;
    background-color: #e2e1e1;
    box-sizing: border-box;
    min-width: 0;
}

.sidebar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.sidebar-image img {
    max-width: 80%;
    height: auto;
    display: block;
    box-sizing: border-box;
}

.menu-item {
    position: relative;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background: #111827;
    min-width: 180px;
    border-radius: 8px;
    padding: 8px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.submenu li {
    padding: 8px 16px;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.submenu li:hover {
    background: #374151;
}

.has-submenu:hover .submenu {
    display: block;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    box-sizing: border-box;
}


.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #4A90E2;
}

.card p {
    margin-bottom: 8px;
    font-size: 1rem;
}

.card .card-actions {
    margin-top: 12px;
}

.card .card-input{
    border-radius: 10px;
}

.btn{
    padding:8px;
    border-radius:8px;
}

.btn-logout {

    padding: 16x;
    border: none;
    border-radius: 6px;
    background-color: #5f60a8;
    color: white;
    font-weight: bold;
    cursor: pointer;

}