body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #807a7a;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #1b1b1b;
}

.sidebar-content {
    box-sizing: border-box;
    min-width: 250px;
    flex: 1;
}

.sidebar-footer {
    color: white;
    text-align: center;
}

.sidebar-nav {
    list-style: none;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li {
    margin-bottom: 30px;
    text-decoration: none;
}

.sidebar-nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(218, 206, 206);
}

.main-content {
    padding: 20px;
    flex: 1;
    background-color: #e2e1e1;
}

.sidebar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.sidebar-image img {
    max-width: 80%;
    height: auto;
    display: block;
}

.logout-button {
    background-color: #247185; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 10px;
}

footer{
    text-align: center;
    margin-top: 20px;
    color: #555;
    margin-top: auto;
}