body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

/* Container */
.estoque-container {
    max-width: 1200px;
    margin: auto;
}

/* Topo */
.topo-estoque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topo-estoque h2 {
    color: var(--cor-titulo);
}

.topo-estoque input {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid var(--cor-borda-input);
    outline: none;
}

/* Grid */
.grid-estoque {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


/* Botões */
.card-estoque .acoes {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card-estoque button {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
}

.btn-editar {
    background-color: var(--cor-fundo-botao);
    color: var(--cor-texto-botao);
}

.btn-excluir {
    background-color: var(--cor-fundo-botao-excluir);
    color: var(--cor-texto-botao-excluir);
}
