html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}  

header{
    background-color: var(--cor-cabecalho);
    color: var(--cor-texto-principal);
    padding: 10px;
    text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* formulario */
.form-section {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form-label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    color: var(--cor-texto-principal);
}

.form-label label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-label input {
    padding: 8px;
    border: 1px solid var(--cor-borda-input);
    border-radius: 10px;
    cursor: pointer;
}
/* fim */

/* botoes */
.btn-cadastrar {
    background-color: var(--cor-fundo-botao); 
    color: var(--cor-texto-botao);
} 

.btn-voltar{
    background-color: var(--cor-fundo-botao-voltar);
    color: var(--cor-texto-botao-voltar);
}

button:hover {
    background-color:var(--cor-fundo-botao-hover);
    color: var(--cor-texto-botao-hover);
}

.botoes{
    display: flex;
    gap: 10px;
} 
/* fim */