html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}  
/* sempre definir um reset para nao quebrar o layout */

header{
    background-color: rgb(65, 61, 61);
    color: white;
    padding: 10px;
    text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
    /* padding: 20px; nao colocar pois estoura a largura*/
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form-section {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form-label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* background-color:rgb(65, 61, 61); */
    padding: 10px;
    border-radius: 10px;
    width: 70%;
}

.form-label label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-label input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.btn-cadastrar {
    padding: 10px 15px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-voltar{
    padding: 8px 16px;
    background-color: red;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
}

button:hover {
    background-color:#23af43;
}

.botoes{
    display: flex;
    gap: 10px;
}