body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.form-section {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-form {

    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #6b6a6a;

}

h2 {

    margin-bottom: 20px;
    text-align: center;

}

.form-group {

    margin-bottom: 25px;

}

.login-input {

    border-radius: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s;
    margin-top: 10px;
}

.login-button {

    color: black;
    border-radius: 30px;
    width: 100px;
    padding: 10px;
    background: #5f60a8;
    margin-top: 10px;
    cursor: pointer;

}

.login-button:hover {

    background: #6667bb;
    color: wihite;

}

.error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
