.login-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;

}

.login-form {

    background-color: #771515;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;

}

.login-form h2 {

    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;

}

.form-group {

    margin-bottom: 15px;

}

input{

    border-radius: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s;
    margin-top: 10px;

}

.login-form button{

    color:black;
    border-radius: 30px;
    width: 100px;

}

.login-form button:hover{

    background:green;
    color:#771515;

}

