*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    /* background:#6b6a6a; */
    font-family: Arial, sans-serif;
}

.logout-section {
    margin:auto;
    text-align:center;
    /* background:#771515; */
    padding:40px;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
}

.logout{
    padding:20px;
    font-size:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.btn-logout {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 30px;
    background-color: rgb(209, 199, 199);
    color: #771515;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}