*{
        box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.search-section{
    padding: 20px;
    text-align: center;
    background-color:rgb(207, 203, 203);
    align-items: center;
}

.search-label{
    font-size: 18px;
    margin-right: 10px;
}

.search-input{
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.table-section{
    width: 100%;
    margin: auto auto;
    overflow-x: auto;
    /* background-color: #6e0707; */
}

.tableclass{
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #14338a;
}

.tableclass th{
    background-color: #0b1f4d;
}

.tableclass th, .tableclass td{
    padding: 12px 15px;
    text-align: left;
    color: #ffffff;
}

.tableclass td:nth-child(3){
    text-align: right;
}


.caption-table{
    caption-side: top;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    background-color: #0b1f4d;
    padding: 10px;
    border-radius: 6px;
    white-space: nowrap;
}

.tableclass td.status-finalizado {
    color: #00ff88;
    font-weight: bold;
}

.tableclass td.status-andamento {
    color: #ffd166;
    font-weight: bold;
}
